[user]
  name = spalger
  email = spencer@elastic.co

[core]
  excludesfile = /Users/spalger/.gitignore_global
  pager = delta | less --tabs=2 -RFX
  precomposeUnicode = true

[interactive]
  diffFilter = delta --color-only

[alias]
  co = checkout
  pum = pull upstream main --no-edit
  pumr = pull upstream main --no-edit --rebase
  pullr = pull --rebase
  trackup = branch --set-upstream-to=upstream/main
  fin = commit --no-edit
  amend = commit --no-edit --amend
  undo = reset HEAD^
  co = checkout
  pr = "!f() { git fetch upstream pull/$1/head && git checkout -B pr/$1 FETCH_HEAD; }; f"
  clear-pr = !git branch | grep pr/ | xargs "git branch -D"
  comit = commit
  branchlog = "!f() { git for-each-ref --count=${1:-10} --sort=-committerdate refs/heads/ --format='%(refname:short)'; }; f"

[push]
  default = current

[credential]
  helper = osxkeychain

[format]
  pretty = format:[%Cgreen%h%Creset][%ad] %an: %s

[log]
  date = short

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
  process = git-lfs filter-process

[http]
  cookiefile = /Users/spalger/.gitcookies

[push]
  default = current

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[merge]
  renamelimit = 4000
[pull]
  rebase = false
[init]
  defaultBranch = main
[gpg]
  program = gpg
[delta]
  line-numbers = true