[user]
  name = spalger
  email = spalger@users.noreply.github.com

[core]
  autocrlf = input
  excludesfile = /Users/spalger/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
  co = checkout
  undo = reset HEAD^
  co = checkout
  pr = "!f() { git co -q master; git branch -Dq pr/$1; git fetch upstream pull/$1/head:pr/$1 && git co -q pr/$1; }; f"
  clear-pr = !git branch | grep pr/ | xargs "git branch -D"
  comit = commit
  branchlog = "!f() { git for-each-ref --count=${1:-10} --sort=-committerdate refs/heads/ --format='%(refname:short)'; }; f"

[push]
  default = current

[credential]
  helper = osxkeychain

[format]
  pretty = format:[%Cgreen%h%Creset][%ad] %an: %s

[diff]

[color]
  ui = auto

[log]
  date = short

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
  process = git-lfs filter-process

[http]
  cookiefile = ~/.gitcookies

[push]
  default = current

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
